{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<style>
  body {
      font-family: monospace;
      margin: 20px;
  }

  h1, h2 {
      color: #333;
  }

  table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
  }

  th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }

  th {
      background-color: #f2f2f2;
  }

  
</style>
  <h1>Informacion de servicios</h1>
  <div class="tablainfo">

    <h2>Estrategias</h2>
    <table>
        <tr>
            <th>Posicionamiento</th>
            <td>Metas relacionadas con el rendimiento y los resultados comerciales.</td>
        </tr>
        <tr>
            <th>Objetivos Comerciales</th>
            <td>Metas relacionadas con el rendimiento y los resultados comerciales.</td>
        </tr>
        <tr>
            <th>Target</th>
            <td>Público objetivo al que se dirige la estrategia.</td>
        </tr>
        <tr>
            <th>Contingencia</th>
            <td>Plan de acción alternativo en caso de cambios inesperados.</td>
        </tr>
        <tr>
            <th>Co-Branding</th>
            <td>Asociación estratégica de dos o más marcas para crear un nuevo producto o servicio.</td>
        </tr>
    </table>

    <h2>Estrategias Audiovisuales</h2>
    <table>
        <tr>
            <th>Spot</th>
            <td>Anuncio publicitario breve para televisión o radio.</td>
        </tr>
        <tr>
            <th>Reels</th>
            <td>Videos cortos y atractivos.</td>
        </tr>
        <tr>
            <th>Microdocumentales publicitarios</th>
            <td>Documentales breves con fines publicitarios.</td>
        </tr>
        <tr>
            <th>Propagandas</th>
            <td>Contenidos destinados a la promoción de productos o ideas.</td>
        </tr>
        <tr>
            <th>Series</th>
            <td>Secuencia de episodios con una trama continua.</td>
        </tr>
        <tr>
            <th>Cortometraje</th>
            <td>Película de corta duración.</td>
        </tr>
        <tr>
            <th>Largometraje</th>
            <td>Película de mayor duración.</td>
        </tr>
    </table>

    <h2>360</h2>
    <table>
        <tr>
            <th>Integración de campañas</th>
            <td>Coordinación de estrategias en diversos canales.</td>
        </tr>
        <tr>
            <th>Vía pública</th>
            <td>Publicidad en espacios físicos como vallas publicitarias.</td>
        </tr>
        <tr>
            <th>On Line y Off Line en ads</th>
            <td>Estrategias publicitarias tanto en línea como fuera de línea.</td>
        </tr>
    </table>

    <h2>Branding</h2>
    <table>
        <tr>
            <th>Diseño responsivo</th>
            <td>Diseño adaptable a diferentes dispositivos.</td>
        </tr>
        <tr>
            <th>Concepto de marca</th>
            <td>Idea central que define la identidad de una marca.</td>
        </tr>
        <tr>
            <th>Filosofía de marca</th>
            <td>Principios y valores fundamentales de una marca.</td>
        </tr>
    </table>
    <h2>Branding Consultora</h2>
    <table>
        <tr>
            <th>Nuevos nichos</th>
            <td>Identificación y penetración en nuevos segmentos de mercado.</td>
        </tr>
        <tr>
            <th>Visión internacional</th>
            <td>Enfoque global para expandir la presencia de la marca.</td>
        </tr>
        <tr>
            <th>Endomarketing</th>
            <td>Estrategias internas para fortalecer la cultura de la marca dentro de la empresa.</td>
        </tr>
    </table>

    <h2>Legal</h2>
    <table>
        <tr>
            <th>Registro de marca</th>
            <td>Proceso legal para proteger una marca.</td>
        </tr>
        <tr>
            <th>Derechos de autor</th>
            <td>Protección legal de obras originales.</td>
        </tr>
        <tr>
            <th>Patentes</th>
            <td>Derechos exclusivos sobre inventos o procesos.</td>
        </tr>
        <tr>
            <th>Servicios adicionales (Cotización aparte)</th>
            <td>Elementos como Memes, Infografías, Frases cortas, Tweets, Preguntas, Productos, Testimonios, etc.</td>
        </tr>
    </table>
</div>
{% endblock %}